#Image_refer{
	width: 100%;
	height: 60%;
	margin: auto;
}
.show_image{
	width: 80%;
	height: 80%;
	margin: auto;
	display: flex;
	align-items: center;
}	
.show_image img{
	height: 80%;
	width: 60%;
	margin: auto;
}

.download_music{
	height: 20%;
	width: 60%;
	margin: auto;
	display: flex;
	align-items: center;
}
.download_music button{
	width: 70%;
	height: 60%;
	margin: auto;
}